src/battery/__pycache__/battery.cpython-312.pyc
src/optimization/__pycache__/base_strategy.cpython-312.pyc
src/price_modelling/__pycache__/global_keys.cpython-312.pyc
src/price_modelling/__pycache__/price_path_generator.cpython-312.pyc
pyproject.toml
